.test {
    width: 300px;
    background-color: gold;

    /*width: 490px;
    max-width: 100%;*/
}

.settings {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    /*box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;*/
}

/*
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}*/