html {
    background-color: black;
}
body {
    background: white;
    margin: 0;
    padding: 1em;
}
.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100px;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: paleturquoise;
}
.box {
    position: relative;

    /*max-width: 100%;*/
}
.box::before {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.1em;
}
.box-sm {
    width: 540px;

    background-color: chartreuse;
}
.box-md {
    width: 720px;

    background-color: gold;
}
.box-lg {
    width: 960px;

    background-color: coral;
}
.box-xl {
    width: 1140px;

    background-color: aquamarine;
}

.settings {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}