:root {
    --body-background-color: #eeeeee;
    --body-color: #333333;
    --primary-color: #0d6efd;
    --secondary-color: #999999;
    --border-radius: 5px;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-color);
    font-family: sans-serif;
}

.hamburger>summary {
    text-align: center;
    padding: 10px 15px 10px 10px;
    width: max-content;
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
    /* outline: none; */
    /* transition: transform 200ms ease-in-out 0s; */
}

/* Zavřeno (vertikální tranformace III) */
.hamburger>summary::before {
    content: "III";
    position: static;
    top: 0;
    left: 0;
    letter-spacing: -1px;
    display: inline-block;
    writing-mode: vertical-lr;
}

/* Skrytí výchozího symbolu */
.hamburger>summary {
    list-style-type: none;
    display: flex;
    gap: 5px;
}

.hamburger .menu {
    /* width: 0%; */
    /* height: 0px; */
    transition: all .5s linear;
}

.hamburger[open] .menu {
    /* width: 100%; */
    /* height: 200px; */
    transition: all .5s linear;
}

/* Otevřeno (X) */
.hamburger[open]>summary::before {
    content: "X";
}

.menu {
    list-style: none;
    padding-left: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.menu .menu {
    width: 100%;
}

.hamburger>.menu {
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
}

.hamburger>.menu>li {
    margin: 0 16px;
}

.menu li {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: left;
    transition: filter 200ms linear 0s;
}

.menu li details {
    padding-left: 20px;
    /* Outline (Tab) */
    margin-right: 2px;
    margin-left: 2px;
}

.menu li summary {
    padding: 12px 20px 10px 2px;
    transform: translateX(-21px);
    margin-right: -21px;
}

.menu li a {
    display: block;
    padding: 12px 20px 10px;
    text-decoration: none;
    color: var(--primary-color);
}

.menu summary,
.menu li a {
    /* Outline (Tab) */
    margin-left: 2px;
    margin-right: 2px;
}

.hamburger>.menu {
    padding-top: 4px;
    padding-bottom: 4px;
}

.hamburger>.menu>li:first-of-type {
    border-top: none;
}

/* Nápověda */
.hamburger::before {
    content: "← Kliknutím zobrazíte navigaci";
    position: absolute;
    margin-left: 107px;
    padding: 12px;
    opacity: 0.4;
}

.hamburger[open]::before {
    animation: fadeMe 300ms linear forwards;
}

@keyframes fadeMe {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

details details summary {
    margin-left: -1em;
    cursor: pointer;
}


/* !!! Animace bohužel spolehlivě funguje jen na 1. úroveň !!! */
details .menu {
    transition: all 1s;
    transform: scale(0);
    transform-origin: top left;
}

details[open] .menu {
    transform: scale(1);
}











/* .menu-close {
    /* transition: all 1s;
    transform: scaleY(0);
    transform-origin: top center;
    background-color: yellow; */
/*

    min-width: 200px;
    border: 1px solid red;
}

.menu-open {
    /* transform: scaleY(1);
    background-color: brown; */
/*

    min-width: 300px;
    border: 1px solid green;
} */









/*.dropdown[open] .menu {
    display: block;
    background-color: red;
}

.dropdown:not([open]) .menu {
    display: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.menu li {
    display: block;
    opacity: 1;
}

@-moz-keyframes growDown {}

@-webkit-keyframes growDown {}

@-o-keyframes growDown {}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(0);
    }
}*/